* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  height: 20px;
  border-bottom: 2px solid rgb(163, 30, 12);
  text-align: right;
  padding-top: 80px;
  background-color: #010102;
}

header a {
  text-transform: uppercase;
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
}

header a:hover {
  font-weight: bold;
  color: rgb(238, 139, 10);
  text-decoration: underline;
}

#conteudo {
  width: 70%;
  background-color: rgb(212, 129, 5);
  min-height: 400px;
  margin: 0 auto;
}

.info-pricipal {
  background-color: rgba(219, 107, 16, 0.253);
  min-height: 200px;
  display: flex;
}

.imagem-info {
  min-height: 200px;
  width: 50%;
  overflow: hidden;
  text-align: center;
}

.imagem-info > img {
  width: 120px;
}

.texto-info {
  background-color: rgb(194, 22, 22);
  min-height: 200px;
  width: 50%;
}
